.destaque{
    display: block;
    width: 100%;
    vertical-align: center;
}
div{
    display: block;
    width: calc(33%) - 16px;
    vertical-align: top;
    margin: 8px;
}
body{
    margin: 3px;
    padding: 3px;
}