body{
    background-color: rgb(65, 70, 70);
    color: rgb(241, 240, 237);
    font-family: cursive;
    font-size: 20px;
    font-style: italic;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: cabecalho;
        grid-gap: 5px 0px;
        float: right;
    }
.logo{
        display: block;
        margin: 0 auto;
        width: 300px;
        float: left;
    }
.Cabecalho{
    display: block;
    margin: 0 auto;
    font-size: 100px;
    text-align: center
}
.aside{
    display: block;
    margin: auto;
}