h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60;
}

body{
    background-color: rgb(191, 242, 242);
    color: rgb(72, 71, 69);
    font-family: cursive;
    font-size: 30px;
}