@media (max-width: 600px) {
    im.logo {display: block; margin: 0 auto;}
}

header{height: 150px;}

h1{
    background-color: aliceblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
   }
body{
    background-color: rgb(65, 70, 70);
    color: rgb(241, 240, 237);
    font-family: cursive;
    font-size: 20px;
    font-style: italic;
    }
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    text-align: center;
}

#conteudo{
    width: 50%;
    background-color: rgb(107, 107, 107);
    }
#menu_contexto{
    width: 50%;
    background-color: bisque;
    float: left;
}
#rodape{
    clear: both;
}
#cabecalho{
    text-align: left;
}
p:hover{
    color:red
}
*{
    margin: 0;
}
#apresentação{
    text-align: center;
}